*{
    margin: 0;
    padding:0;
}
body{
    background-color: #F78764;
    text-align: center;
}
.container{
    height: 70vh;
     display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.game{
    height:60vmin; 
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5vmin;
}

.box{
    height:18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.2);
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#reset-btn{
    padding:1rem;
    font-size:1.24rem;
    background-color: #634133;
    color: azure;
    border-radius: 2rem;
    border:none;
    font-size: large;
}

#new-btn{
    padding:1rem;
    font-size:1.24rem;
    background-color: #634133;
    color: azure;
    border-radius: 2rem;
    border:none;
    font-size: large;
}

#msg{
    color:azure;
    font-size:8vmin;
}

.msg-container{
    height: 20vmin;
}

.hide{
    display: none;
}